.NavbarItems {
    background: #BB86FC;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.navbar-logo {
    color: #ffffff;
    justify-self: start;
    cursor: pointer;
}

.fa-skull {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    color: #ffffff;
    text-decoration: none;
    padding: 2px 2px;
}

.nav-links-mobile {
    display: none;
}